html, body, #map_canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.span4 {
    overflow-y: auto;
}

ul.stream {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stream li {
    padding: 10px 0;
}

.stream img {
    max-width: 80%;
}

.icon-loading {
    background-position: 0;
    background-image: url(../img/14x14-loading.gif);
    height: 16px;
    width: 16px;
}

.fb-login {
    background-position: 0;
    background-image:url(../img/facebook_signin.png);
    display:block;
    height:22px;
    width:150px;
}

.fb-login:hover {
    background-position: 0 22px;
}