{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block main %}
<div class="row-fluid">
    <div class="span4">
        <div id="stream_canvas">
            <h1>Support Something</h1>

            <p>
                <a href="#" id="upload"
                   class="btn btn-large btn-primary"><i
                        class="icon-upload icon-white"></i>
                    Upload</a>
            </p>
            <ul class="stream">
                {% for img in imgs %}
                <li>
                    <img src="{{ img[0] }}"/>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span8">
        <div id="map_canvas"></div>
    </div>
</div>
{% endblock %}
