{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block main %}
<div class="row-fluid">
    <div class="span4">
        <div id="stream_canvas">
            <h1>Support Something</h1>

            {% if fb %}
            <div class="alert alert-success">
                Upload your support below.
            </div>
            <p>
                <a href="#" id="upload" class="btn btn-large btn-primary"><i
                        class="icon-upload icon-white"></i> Upload</a>
            </p>
            {% else %}
            <!-- login w/facebook -->
            <div class="alert alert-info">
                Sign in with facebook to upload your show of support.
            </div>
            <p>
                <a href="{{ url_for('login') }}" class="fb-login">&nbsp;</a>
            </p>
            {% endif %}


            <ul class="stream">
                {% for img in imgs %}
                <li>
                    <img src="{{ img[0] }}"/>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span8">
        <div id="map_canvas"></div>
    </div>
</div>
{% endblock %}
{% block footer_js %}
<script type="text/javascript">
    $(document).ready(function () {
        {% if fb %}
        var lat = {{ latitude }};
        var lng = {{ longitude }};
        var myLatlng = new google.maps.LatLng(lat, lng);

        var myOptions = {
            center:myLatlng,
            zoom:14,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
                myOptions);

        var marker = new google.maps.Marker({
            position:myLatlng,
            title:"Hello World!"
        });
        marker.setMap(map);
        {% endif %}
    });
</script>
{% endblock %}
